<h1>Batman vs Superman</h1>
<%= link_to "Batman", {:controller => 'pages', :action => 'batman'} %><p><%= link_to "Votar", new_voto_path %></p><br>
<%= link_to "Superman", {:controller => 'pages', :action => 'superman'} %><p><%= link_to "Votar", new_voto_path %></p><br>